body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;

  height: 3000px;
  /* background-color: plum; */
  min-width: 320px;
  width: 100% !important;
}
h1 {
  font-size: 50px;
  color: plum;
  text-align: center;
}
a {
  text-decoration: none;
  color: #999;
}
/* 인라인 요소 -> 블록 요소  */
/* baseline으로 인한 문제 해결 */
img {
  display: block;
}
.inner {
  /* background-color: #e4e724; */
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
/* 상단 헤더 */
header .top-header {
  font-size: 12px;
  box-shadow: 0px 1px 1px 0 rgba(226, 226, 226, 1);
}
header .top-header > .inner {
  height: 39px; /* top-header border 속성 넣으려면 길이 지정 필요 */
}
header .top-header ul,li:last-child span > strong {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .top-header ul > li {
  padding: 10px 12px;
}

header .top-header ul > li:hover > a {
  color: #333;
}

/* 상단 헤더 우측 */
header .top-header .top-header-right {
  right: 0;
}


/* 메인 헤더 */
header .main-header {
  position: relative;
}
header .main-header > .inner {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .main-header .swiper {
  flex: 1;
  display: flex;
  width: 280px;
  height: 80px;
  overflow: hidden;
  margin: 0;
}
header .main-header .swiper .swiper-pagination {
  position: absolute;
  bottom: -0.5px;
}
:root {
  --swiper-theme-color: #444;
}
/* .main-header .icon {
  display: none;
} */
header .main-header .main-header-search {
  position: relative;
}
header .main-header .main-header-search > input {
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  outline: none;
  padding: 9px 11px;
}
header .main-header .main-header-search > input:hover,
header .main-header .main-header-search > input:focus {
  border: 1px solid #e4e724;
}
header .main-header .main-header-search > input:hover + .material-icons{
  color: #333;
}
header .main-header .main-header-search > .material-icons {
  position: absolute;
  right: 3px;
  top: 5px;
  bottom: 0;
  margin: auto;
  color: #999;
  cursor: pointer;
}

/* 하단 헤더 */
header .bottom-header {
  /* background-color: purple; */
  background-color: #fff;
  border-top: 1px #222 solid;
  border-bottom: 1px #e2e2e2 solid;
}
header .bottom-header .inner {
  height: 54px;
  /* background-color: #999; */
}
header .bottom-header .bottom-header-category {
  /* background-color: rgb(241, 178, 241); */
  display: flex;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
}
header .bottom-header .bottom-header-category > li {
  padding: 16px 20px;
  position: relative;
}
header .bottom-header .bottom-header-category > li > a {
  color: #333;
}
header .bottom-header .bottom-header-category > li:hover > a {
  font-weight: bold;
}

/* 서브 카테고리 */
header .bottom-header .bottom-header-category .sub-category {
  box-sizing: border-box;
  background-color: #fff;
  display: block;
  padding: 10px 10px;
  position: absolute;
  z-index: 4; /* main-visual 위로 올리기 위함 */
  width: 200px;
  display: none;
}
header .bottom-header .bottom-header-category li:hover .sub-category {
  display: block;
}
header .bottom-header .bottom-header-category .sub-category > li {
  margin: 10px 10px;
  text-align: center;
}
header .bottom-header .bottom-header-category .sub-category > li > a {
  font-size: 12px;
}

header .bottom-header .bottom-header-category .sub-category > li:hover > a {
  color: #333;
}

/* 카테고리별 서브 카테고리가 각각 상위 카테고리 가운데로 자리 잡게 */
header .bottom-header .bottom-header-category #artist-1:hover > .sub-category {
  transform: translate(-96px,16px);
}
header .bottom-header .bottom-header-category #artist-2:hover > .sub-category {
  transform: translate(-50.1px,16px);
}
header .bottom-header .bottom-header-category #artist-3:hover > .sub-category {
  transform: translate(-76px,16px);
}


/* VISUAL */
.visual .swiper-wrapper {
  height: 600px;
  position: relative;
}
.visual .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visual .swiper-button-prev {
  position: absolute;
  left: 50%;
  margin-left: calc(-25% - 50px);
}
.visual .swiper-button-next {
  position: absolute;
  right: 50%;
  margin-right: calc(-25% - 50px);
}
.visual .swiper-button-prev::after,
.visual .swiper-button-next::after {
  display: none;
}
.visual .material-icons {
  color: #a8a8a8e8;
  opacity: 0;
}
.visual:hover .material-icons {
  opacity: 1;
}
.visual .swiper-button-prev .material-icons {
  animation: fadeOutLeft;
  animation-duration: 1s;
}
.visual .swiper-button-next .material-icons {
  animation: fadeOutRight;
  animation-duration: 1s;
}
.visual:hover .swiper-button-prev .material-icons {
  animation: fadeInLeft;
  animation-duration: 1s;
}
.visual:hover .swiper-button-next .material-icons {
  animation: fadeInRight;
  animation-duration: 1s;
}

/* NEW PRODUCTS & BEST PRODUCT */
.product-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 100px 0 40px;
}
.product-wrap {
  display: flex;
  justify-content: space-between;
}
.product-box .product-info > h4 {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: block; */
  margin: 30px 5px 0;
}

/* PRODUCT HOVER
img 스케일 증가시키는데 정해진 영역 밖으로 흘러넘치는 요소 숨김 */
.product-box .product-item {
  overflow: hidden;
}
.product-box:hover img {
  transform: scale(1.05);
}

/* NEW PRODUCTS */
.new-products .inner {
  height: 610px;
  /* background-color: green; */
  border-bottom: 3px solid #99999956;
}
.new-products .product-box {
  width: 31.7%;
  /* background-color: green; */
}
.new-products .product-box img {
  width: 100%;
  transition: .4s;
}
.new-products .product-box .product-info {
  width: 100%;
  height: calc(610px - 100%);
}

/* BEST PRODUCT */
.best-products .inner {
  height: calc(70px + 248px);
}
.best-products .product-box {
  width: 18%;
  position: relative;
  background-color: goldenrod;
}
.best-products .product-item {
  position: absolute;
}
.best-products .product-box img {
  width: 100%;
}
/* TODO best product info item이랑 겹치게 하기 */
.best-products .product-info {
  width: 100%;
  height: 179px;
  position: absolute;
  bottom: 20px;
  background-color: #444;
}

/*BEST PRODUCT HOVER */



/* MAIN FIXED*/
.main-fixed {
  background-image: url("../images/main-fixed-bg.jpg");
  /* 배경 이미지 시차효과 */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-fixed .inner {
  height: 320px;
}
.main-fixed .main-fixed-text img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
